@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

}

#bkImg {
  background-image: url(./img/bk-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
  opacity: 50%;
}


.home {
  width: 100%;
  height: 100vh;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Henny Penny', cursive;
  font-size: 72px;
  text-shadow: 10px 10px 8px rgba(255,0,0,0.6), 15px 15px 8px rgba(0,255,0,0.4), 5px 5px 8px rgba(0,0,255,0.6);
  
}

h1:hover {
  animation: jump-shaking 0.83s infinite;
}

@keyframes jump-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateY(-9px) }
  35% { transform: translateY(-9px) rotate(5deg) }
  55% { transform: translateY(-9px) rotate(-5deg) }
  65% { transform: translateY(-9px) rotate(5deg) }
  75% { transform: translateY(-9px) rotate(-5deg) }
  100% { transform: translateY(0) rotate(0) }
}

.home-box {
  border: 1px solid black;
  width: 60%;
  height: 400px;
  background-color: white;
}

.canvasApp{
  position: relative;
  left: 50px;
  top: 50px;
}

#message-container{
  width: 320px;
  height: 600px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  position: absolute;
  right:10px;
  top: 50px;
}

#message-container div{
  background-color: white;
  padding: 5px;
}

#message-input {
  position: absolute;
  right:150px;
  bottom: 20px;
}
